<div class="col-md-8" style="margin-top: 50px">
    <div>
        <table class="table">
            <tr>
                <th>Account Property</th>
                <th>Value</th>
            </tr>
            <tbody id="modalResult">

            </tbody>
        </table>
    </div>
</div>

<script id="modalTemplate" type="text/x-jsrender">
        <tr>
            <td>Account number</td>
            <td>{{:accountNumber}}</td>
        </tr>
        <tr>
            <td>Owner full name</td>
            <td>{{:ownerFirstName}} {{:ownerLastName}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <div class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        {{:status}}
                        <b class="caret"></b>
                    </a>
                    <ul id="{{:accountNumber}}" class="dropdown-menu" id="detailsDropdown">
                        <li>Active</li>
                        <li>Blocked</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>Money available</td>
            <td>{{:moneyAmount}}</td>
        </tr>
</script>
