<div class="col-md-8" style="margin-top: 50px">
    <h4 style="text-align: center">Account details</h4>
    <div>
        <table class="table">
            <tr>
                <th>Account Property</th>
                <th>Value</th>
            </tr>
            <tbody id="modalResult">

            </tbody>
        </table>
    </div>
    <div>
        <h5 style="text-align: center">Last 5 transactions</h5>
        <table class="table">

            <tr>
                <th>Source</th>
                <th>Destination</th>
                <th>Money Amount</th>
                <th>Date</th>
            </tr>
            <tbody id="modalTransactions">

            </tbody>
        </table>
    </div>
</div>

<script id="modalTemplate" type="text/x-jsrender">
        <tr>
            <td>Account number</td>
            <td>{{:accountNumber}}</td>
        </tr>
        <tr>
            <td>Owner full name</td>
            <td>{{:ownerFirstName}} {{:ownerLastName}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td width="100px">
                <div class="dropdown">
                    <a id="dt" data-toggle="dropdown" class="dropdown-toggle">
                        {{:status}}
                        <b class="caret"></b>
                    </a>
                    <ul id="{{:accountNumber}}" class="dropdown-menu" id="detailsDropdown">
                        <li id="active">Active</li>
                        <li id="blocked">Blocked</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>Money available</td>
            <td>{{:moneyAmount}}</td>
        </tr>
</script>

<script id="modalTransactionsTemplate" type="text/x-jsrender">
        <tr>
           <td>{{:sourceAccountId}}</td>
           <td>{{:destAccountId}}</td>
           <td>{{:moneyAmount}}</td>
           <td>{{:date}}</td>
        </tr>
</script>
