<div class="col-lg-4 col-md-offset-3">
    <div class="btn btn-info" id="getUsersButton" hidden="true" style="visibility: hidden">
        Get users
    </div>
    <div id="detailsModal" class="modal">
        <div class="modal-dialog" style="left: -3%">
            <div class="modal-content">
                <div class="modal-body" id="detailsModalBody" style="height: 600px; width: 800px; max-width: 800px">

                </div>
            </div>
        </div>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>Account Number</th>
                <th>Owner Name</th>
                <th>Status</th>
                <th></th>
            </tr>
            <tbody id="result">

            </tbody>
        </table>
    </div>
    <div id="paginationdiv">

    </div>
</div>

<script id="template" type="text/x-jsrender">
        <tr>
            <td>{{:accountNumber}}</td>
            <td>{{:ownerFirstName}}</td>
            <td id="status{{:accountNumber}}" width="100px">{{:status}}</td>
            <td id="{{:accountNumber}}"><a class="glyphicon glyphicon-info-sign"></a></td>
        </tr>
</script>