<ul class="pagination center-block">
    <li id="liFirst"><a id="aFirst">&laquo;</a></li>
    <li id="liPrev"><a id="aPrev">&lsaquo;</a></li>
</ul>

<ul class="pagination center-block" id="tpagination">

</ul>

<ul class="pagination center-block">
    <li id="liNext"><a id="aNext">&rsaquo;</a></li>
    <li id="liLast"><a id="aLast">&raquo;</a></li>
</ul>

<script id="pageTemplate" type="text/x-jsrender">
    {{range start=sp end=lp}}<li id="liPage{{:#data}}" class="pagination"><a id="aPage{{:#data}}">{{:#data}}</a></li>{{/range}}
</script>